<md-toolbar>
  <div class="md-toolbar-tools rxp-dialog-toolbar">
    <h3 class="center-text">Dispatch Product</h3>
    <span flex></span>
    <md-button class="md-icon-button" ng-click="vm.CloseSale()">
      <md-icon md-font-icon="zmdi zmdi-close"></md-icon>
    </md-button>
  </div>
</md-toolbar>
<md-content class="padded-content-page">
  <form name="vm.SendOrderForm" ng-submit=" vm.SubmitSelling()">
    <div layout="row" layout-fill>
      <div flex="50" flex-xs="100" layout="column" layout-padding>
        <md-input-container flex="100" class="md-block">
          <label translate="Select dispatch date"></label>
          <md-datepicker
            ng-model="vm.Product_OutGoing.Product_OutGoing_Date"
            flex="100"
            flex-xs="100"
            md-placeholder="Select dispatch date"
            class="rxp-normal-date-piker-width"
          >
          </md-datepicker>
        </md-input-container>
      </div>
       <!-- start select products-->
       <div flex="50" flex-xs="100" layout="column" layout-padding>
        <md-input-container class="md-block md-icon-left rxp-supplier-chips" >
          <md-icon ng-click="vm.FilterSupplierByProduct()" md-font-icon="fa fa-truck md-raised rxp-supplier-filter-btt" class="chips-icon"></md-icon>
          <label class="rxp-supplier-chips-lable">Product Name</label>
          <input type="text" ng-model="vm.Product_Name"disabled required>
      </md-input-container>
      <md-input-container class="md-block md-icon-left rxp-supplier-chips" >
        <md-icon ng-click="vm.FilterSupplierByProduct()" md-font-icon="fa fa-truck md-raised rxp-supplier-filter-btt" class="chips-icon"></md-icon>
        <label class="rxp-supplier-chips-lable">Product Code</label>
        <input type="text" ng-model="vm.Product_Code"disabled required>
    </md-input-container>
      </div>
      <!-- end select products-->
      <!-- start select suppliers-->
      <div flex="50" flex-xs="100" layout="column" layout-padding>
        <md-input-container class="md-block md-icon-left rxp-supplier-chips" >
          <md-icon  md-font-icon="fa fa-truck md-raised rxp-supplier-filter-btt" class="chips-icon"></md-icon>
          <label class="rxp-supplier-chips-lable">Supplier Name</label>
          <input type="text" ng-model="vm.Supplier_Name"disabled required>
      </md-input-container>
      <md-input-container class="md-block md-icon-left rxp-supplier-chips" >
        <md-icon  md-font-icon="fa fa-truck md-raised rxp-supplier-filter-btt" class="chips-icon"></md-icon>
        <label class="rxp-supplier-chips-lable">Supplier Code</label>
        <input type="text" ng-model="vm.Supplier_Code"disabled required>
    </md-input-container>
      </div>
      <!-- end select suppliers-->
     
    </div>
    <div layout="row" layout-xs="column">
    <!--start select customer that has been sold to -->
    <div flex="45" flex-xs="100" layout="column" class="">
      <md-input-container class="md-block md-icon-left">
          <md-icon md-font-icon="zmdi zmdi-accounts-alt" class="chips-icon"></md-icon>
          <label>Select Customer</label>
          <md-chips ng-model="vm.selectedCustomers" md-autocomplete-snap
                  md-transform-chip="vm.transformChip($chip)"
                  md-require-match="true" min-items="1" ng-required="true" md-max-chips="1">
              <md-autocomplete
                  md-selected-item="vm.selectedCustomerItem"
                  md-search-text="vm.searchCustomerText"
                  md-items="customeritem in vm.queryCustomers(vm.searchCustomerText)"
                  md-item-text="customeritem.Customer_Name"
                  placeholder="Customer">
                  <span md-highlight-text="vm.searchCustomerText">{{customeritem.Customer_Name}}</span>
              </md-autocomplete>
              <md-chip-template>
                  <span>
                  <strong>{{$chip.Customer_Name}}</strong>
                  <em class="rxp-chip-subtitle">code: ({{$chip.Customer_Code}})</em>
                  </span>
              </md-chip-template>
          </md-chips>
      </md-input-container>
    </div>
    <div  flex="10" flex-xs="100" layout="column">
    </div>
      <div  flex="45" flex-xs="100" layout="column">
      <md-input-container class="rxp-full-width">
        <label>Sold Date</label>
        <md-icon md-font-icon="zmdi zmdi-account"></md-icon>
        <input  ng-model="vm.selectedCustomers[0].Product_Selling_Date| date:'dd MMMM yyyy'" style="width:80%" disabled>
      </md-input-container>
    </div>
  
    </div>
    <!--end select customer-->
    <div layout="row" layout-xs="column">
      <div  flex="45" flex-xs="100" layout="column">
      <md-input-container
          md-no-float
          class="md-block hcm-Amount-number-field"
      >
          <label>Weight Of Package</label>
          <md-icon md-font-icon="fa fa-list-ol"></md-icon>
          <input type="number" step="1" ng-model="vm.selectedCustomers[0].Product_Package_Weight"disabled />
        </md-input-container>
        <md-input-container
          md-no-float
          class="md-block hcm-Amount-number-field"
      >
          <label>Dispatch Quantity</label>
          <md-icon md-font-icon="fa fa-list-ol"></md-icon>
          <input type="number" step="1" ng-model="vm.selectedCustomers[0].Product_Quantity"disabled />
        </md-input-container>
      </div>
      <div  flex="10" flex-xs="100" layout="column">
      </div>
      <div  flex="45" flex-xs="100" layout="column">
          <md-input-container class="rxp-full-width">
            <md-icon
            md-font-icon="fa fa-balance-scale"
            class="chips-icon"
          ></md-icon>
          <label>Select Unit</label>
          <md-select placeholder="Select Unit" ng-model="vm.selectedCustomers[0].Product_Weight_Unit_Code"style="width:80%"disabled>
            <md-option
              ng-repeat="RequestWeight in vm.WeightUnitsList"
              ng-value="{{RequestWeight.Weight_Code}}"
            >
              {{RequestWeight.Weight_Name}}
            </md-option>
          </md-select>
          </md-input-container>
          
          <md-input-container class="md-block" style="margin-top: 4em;">
              <label>Number Of Packages</label>
              <md-icon md-font-icon="zmdi zmdi-account"></md-icon>
              <input type="number" step="1" ng-model="vm.selectedCustomers[0].Product_Number_Of_Packages" style="width:80%"disabled>
          </md-input-container>
      </div>
  </div>

    <md-subheader class="md-no-sticky">Bill</md-subheader>
    <md-divider></md-divider>

    <div layout="row" layout-xs="column">
      <div  flex="45" flex-xs="100" layout="column" layout-align="center center">               
          <md-switch class="md-primary" ng-model="vm.selectedCustomers[0].Product_OutGoing_Bill_Is_taxed" aria-label="Product Status" 
               disabled>
              <md-icon md-font-icon="zmdi zmdi-truck"></md-icon>Is Bill Taxed
          </md-switch>
      </div>
     
  </div>

  <md-divider></md-divider>

  <div layout="row" layout-xs="column">
    <div  flex="45" flex-xs="100" layout="column">
        <md-input-container class="md-block">
            <label>Bill Number</label>
            <md-icon md-font-icon="zmdi zmdi-account"></md-icon>
            <input type="text" ng-model="vm.selectedCustomers[0].Product_OutGoing_Bill_Number" disabled>
        </md-input-container>
        <md-input-container class="md-block">
          <label>Customer's Permission Of Delivering Number</label>
          <md-icon md-font-icon="zmdi zmdi-account"></md-icon>
          <input type="text" ng-model="vm.selectedCustomers[0].Product_OutGoing_Customer_Permission_Number"disabled>
        </md-input-container>
        <md-input-container class="md-block">
          <label>HighChem's Permission Of Delivering Number</label>
          <md-icon md-font-icon="zmdi zmdi-account"></md-icon>
          <input type="text" ng-model="vm.Product_OutGoing.Product_OutGoing_HighChem_Permission_Number"required>
        </md-input-container>
       
     </div>
  </div>  

    <md-divider class="rxp-field-divider"></md-divider>
    <!-- start tabs --> 
    <md-tabs class="rxp-product-tabs" md-dynamic-height md-border-bottom>
    
      <md-tab label="Other Data">
          <md-tab-label><md-icon md-font-icon="zmdi zmdi-flare"></md-icon> Other Data</md-tab-label>
          <md-tab-body>
              
          </md-tab-body>
      
      </md-tab>
  </md-tabs>

    <!--end tabs-->
    <md-dialog-actions layout="row">
      <div flex="100" flex-xs="100" layout="row" layout-xs="column">
        <div
          flex="50"
          flex-xs="100"
          layout="column"
          layout-align="center center"
        >
          <md-button
            ng-click="vm.CloseSale()"
            class="md-default md-raised"
            md-ripple-size="auto"
            aria-label="Close Purchasing Form"
          >
            <md-icon md-font-icon="fa fa-times"></md-icon>
            <label class="rxp-margin-left-med rxp-margin-right-med"
              >close</label
            >
          </md-button>
        </div>
        <div
          flex="50"
          flex-xs="100"
          layout="column"
          layout-align="center center"
        >
          <md-button
            type="submit"
            class="md-primary md-raised"
            md-ripple-size="auto"
            aria-label="Submit"
          >
            <md-icon md-font-icon="zmdi zmdi-email"></md-icon>
            <label translate="Submit"></label>
          </md-button>
        </div>
      </div>
    </md-dialog-actions>
  </form>
</md-content>
