<md-content class="padded-content-page">
    <div layout="row" class="rxp-margin-top-medium" layout-xs="column">
        <div flex="75" flex-xs="100" layout="column">
            <form ng-submit="vm.SubmitSearch()">
                <md-input-container class="md-block rxp-search-text-box-large rxp-no-margin">
                    <label>Search By Form</label>
                    <md-icon md-font-icon="zmdi zmdi-search"></md-icon>
                    <input type="text" ng-model="vm.SearchFor.searchField">
                </md-input-container>
                <md-button type="submit" class="md-primary md-raised rxp-search-btt rxp-no-margin-btt" md-ripple-size="auto" 
                    aria-label="Submit Search">
                    <md-icon md-font-icon="zmdi zmdi-search"></md-icon>
                </md-button>
            </form>
        </div>
        <div flex="25" flex-xs="100" layout="column">
            <div class="rxp-right-container">
                <md-button ng-click="vm.showAddWindow()" class="md-primary md-raised rxp-search-btt rxp-no-margin-btt" md-ripple-size="auto" 
                    aria-label="Add New">
                    <label class="rxp-margin-left-med rxp-margin-right-med">Add</label>
                    <md-icon md-font-icon="zmdi zmdi-sun"></md-icon>
                </md-button>
            </div>
        </div>
    </div>
    <div id="jsGrid"></div>
</md-content>