<md-toolbar>
    <div class="md-toolbar-tools rxp-dialog-tool-bar">
        <h3 class="page-header center-text">Reset User Password For: </h3>
        <h3 class="page-header center-text"> {{ vm.SelectedEmployee.User_DisplayName }}</h3> 
        <span flex></span>
        <md-button class="md-icon-button" md-ripple-size="auto" 
            aria-label="Close" ng-click="vm.closeWindow()">
            <md-icon md-font-icon="zmdi zmdi-close-circle"></md-icon>
        </md-button>
    </div>
</md-toolbar>
<md-content class="padded-content-page rxp-no-top-padding">
    <form name="vm.resetPasswordForm" class="rxp-margin-top-larg"  ng-submit="vm.resetPasswordForm.$valid && vm.ResetPassword()">
        <md-input-container class="md-block">
            <label for="password" translate>new password</label>
            <input id="password" label="password" name="password" type="password" ng-model="vm.EmployeeData.password" tri-same-password="vm.resetPasswordForm.confirm" ng-minlength="4" required/>
        </md-input-container>

        <md-input-container class="md-block">
            <label for="confirm" translate>confirm password</label>
            <input id="confirm" label="confirm" name="confirm" type="password" ng-model="vm.EmployeeData.confirm" tri-same-password="vm.resetPasswordForm.password" ng-minlength="4" required/>
        </md-input-container>
        <div class="rxp-margin-top-larg rxp-centered-container">
            <md-button type="submit" class="md-primary md-raised rxp-btt-main" md-ripple-size="auto" 
                aria-label="ripple auto">
                <md-icon md-font-icon="zmdi zmdi-key"></md-icon>
                <label class="rxp-margin-left-med rxp-margin-right-med">Reset Password</label>
            </md-button>
        </div>
    </form>
</md-content>
<style>
    md-dialog{width: 70%; max-width: 70%;}
</style>