<md-content class="padded-content-page rxp-toast-setup-small-content" >
    <h3 class="page-header center-text">add new Class</h3>
    <form name="vm.addClassForm" novalidate  ng-submit="vm.addClassForm.$valid && vm.SubmitData()">
        <md-input-container class="md-block">
            <label>Class Name</label>
            <md-icon md-font-icon="fa fa-book"></md-icon>
            <input type="text" ng-model="vm.Class.Class_Name" required>
        </md-input-container>
        <md-input-container class="md-block">
                <label>Description</label>
                <md-icon md-font-icon="fa fa-bars"></md-icon>
                <textarea type="text" ng-model="vm.Class.Class_Description"></textarea>
            </md-input-container>
        <div class="rxp-margin-top-larg rxp-right-container">
            <md-button type="submit" ng-show="!vm.isLoading" class="md-primary md-raised rxp-btt-secondary" md-ripple-size="auto" 
                aria-label="Submit">
                <label class="rxp-margin-left-med rxp-margin-right-med">Add</label>
                <md-icon md-font-icon="zmdi zmdi-forward"></md-icon>
            </md-button>
        </div>
    </form>
</md-content>