<md-toolbar>
    <div class="md-toolbar-tools">
        <h3 class="center-text">View Price Requist Product</h3>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="vm.ClosemdDialog()">
                <md-icon md-font-icon="zmdi zmdi-close"></md-icon>
        </md-button>
    </div>
</md-toolbar>
<md-content class="padded-content-page" ng-show="!vm.isLoading">

    <div name="vm.AddCustomerForm">
        <div class="layout-column flex-xs-100 flex-75">
            <md-input-container class="md-block rxp-search-text-box-large rxp-no-margin">
                <label>Filter Product</label>
                <md-icon md-font-icon="zmdi zmdi-search"></md-icon>
                <input type="text" ng-model="ProductFilter">
            </md-input-container>
        </div>
        <md-divider></md-divider>
        <div layout="row" layout-xs="column" class="hcm-contact-grid-header jsgrid-header-row">
            <div class="jsgrid-header-cell" flex="40" flex-xs="50" layout="column" layout-align="center start">
                Product :
            </div>
            <div class="jsgrid-header-cell" flex="30" flex-xs="50" layout="column" layout-align="center start">
                Amount :
            </div>
            <div class="jsgrid-header-cell" flex="30" flex-xs="50" layout="column" layout-align="center start">
                Unit
            </div>
        </div>        
        <md-divider></md-divider>
        <div layout="row" layout-xs="column" class="jsgrid-row" ng-repeat="productOffer in vm.ProductData">
            <div class="jsgrid-cell" flex="40" flex-xs="50" layout="column" layout-align="center start">
                {{productOffer.Product_Name}}
            </div>
            <div class="jsgrid-cell" flex="30" flex-xs="50" layout="column" layout-align="center start">
                {{productOffer.Quantity_Required}}
            </div>
            <div class="jsgrid-cell" flex="30" flex-xs="50" layout="column" layout-align="center start">
                {{productOffer.Weight_Name}}
            </div>
        </div>
    </div>
</md-content>

<md-dialog-actions layout="row">
    <div flex="100" flex-xs="100" layout="row" layout-xs="column">
        <div flex="50" flex-xs="100" layout="column" layout-align="center center"></div>
        <div flex="50" flex-xs="100" layout="column" layout-align="center center">
            <md-button ng-click="vm.ClosemdDialog()" class="md-default md-raised" md-ripple-size="auto" aria-label="Close Contact Form">
                <md-icon md-font-icon="fa fa-times"></md-icon>
                <label class="rxp-margin-left-med rxp-margin-right-med">close</label>
            </md-button>
        </div>

    </div>
</md-dialog-actions>