<div layout="row" class="profile" layout-wrap>
    <div flex="100" flex-gt-md="100">
        <md-content class="md-padding">
            <form name="password" ng-submit="vm.SubmitChangePassword()">
                <md-input-container class="md-block">
                    <label for="old-password" translate>current</label>
                    <input id="old-password" label="old-password" name="old-password" type="password" ng-model="vm.ULogedInUser.current"/>
                </md-input-container>

                <md-input-container class="md-block">
                    <label for="password" translate>new password</label>
                    <input id="password" label="password" name="password" type="password" ng-model="vm.ULogedInUser.password"  ng-minlength="4" required>
                    
                    <ng-messages for="password.password.$error" md-auto-hide="false" ng-show="password.password.$touched">
                        <div ng-message when="required">
                            <span translate>Please enter a password</span>
                        </div>
                        <div ng-message when="minlength">
                            <span translate>Your password must be greater than 4 characters long</span>
                        </div>
                    </ng-messages>
                </md-input-container>
                <md-input-container class="md-block">
                    <label for="confirm" translate>confirm password</label>
                    <input id="confirm" label="confirm" name="confirm" type="password" ng-model="vm.ULogedInUser.confirm" tri-same-password="password.password" required/>
                    <ng-messages for="password.confirm.$error" md-auto-hide="false" ng-show="password.confirm.$touched">
                        <div ng-message when="required">
                            <span translate>Please confirm password</span>
                        </div>
                        <div ng-message when="samePassword">
                            <span translate>You need to enter the same password</span>
                        </div>
                    </ng-messages>
                </md-input-container>

                <md-button class="md-raised md-primary margin-left-0" type="submit" ng-disabled="password.$invalid" translate="Update Password"></md-button>

            </form>
        </md-content>
    </div>
</div>
