<md-content class="padded-content-page rxp-toast-setup-small-content" >
    <h3 class="page-header center-text">Edit Product Category</h3>
    <form name="vm.editProductCategoryForm" novalidate  ng-submit="vm.editProductCategoryForm.$valid && vm.SubmitData()">
        <md-input-container class="md-block">
            <label>Product Category Name</label>
            <md-icon md-font-icon="fa fa-book"></md-icon>
            <input type="text" ng-model="vm.ProductCategory.ProductCategory_Name" required>
        </md-input-container>
        <md-input-container class="md-block">
            <label>Description</label>
            <md-icon md-font-icon="fa fa-bars"></md-icon>
            <textarea type="text" ng-model="vm.ProductCategory.ProductCategory_Description"></textarea>
        </md-input-container>
        <md-switch class="md-primary" ng-model="vm.ProductCategoryStatus" aria-label="Product Category Status" 
            ng-init="switches.primary = false">
            <md-icon md-font-icon="fa fa-asterisk"></md-icon>Product Category Status
        </md-switch>
        <div class="rxp-margin-top-larg rxp-right-container">
            <md-button type="submit" ng-show="!vm.isLoading" class="md-primary md-raised rxp-btt-secondary" md-ripple-size="auto" 
                aria-label="Submit">
                <label class="rxp-margin-left-med rxp-margin-right-med">Save</label>
                <md-icon md-font-icon="zmdi zmdi-floppy"></md-icon>
            </md-button>
        </div>
    </form>
</md-content>